body {
    background-color: #3F3351;
}

#widerBox {
    max-height: 150px;
}

#logo {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#weatherCard {
    text-align: center;
    color: #3F3351;
}

#cityBlock {
    display: block;
    text-align: center;
    
}

#myForm, #description, #opinion {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#bottomCard {
    text-align: center;
}
#opinion {
    font-style: italic;
}


#opinion, #opinionWrap, #search-addon, h3, .form-check-label, .form-check-input {
    color: #FFCCB3;
}

.card-body {
    border-radius: 0.5cm;
    background-color: #FFCCB3;
}

.form-control {
    background-color: #FFCCB3;
    color: #3F3351;
}

#errorMessage {
    color: #FFCCB3;
}